<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.khada.hund.comment.model.dao.CommentMapper">

	<resultMap id="CommentMap" type="com.khada.hund.comment.model.dto.CommentDTO">
		<id property = "commentCode" column="comment_code" />
		<result property = "commentTime" column="comment_time" />
		<result property = "commentDetail" column="comment_detail" />
		<result property = "commentLike" column="comment_Like" />
		<result property = "commentId" column="comment_id" />
		<result property = "commentPostCode" column="comment_post_code" />
	</resultMap>
	
	<insert id="insertComment" parameterType="com.khada.hund.comment.model.dto.CommentDTO">
		INSERT INTO POST_COMMENT
			(
			  COMMENT_DETAIL
			, COMMENT_ID
			, COMMENT_POST_CODE
			)
		VALUES
			(
			  #{commentDetail}
			, #{commentId}
			, #{commentPostCode}
			)
	</insert>

	<select id="selectCommentPostCode" resultMap="CommentMap">
		SELECT
			*
		FROM
			POST_COMMENT
		WHERE
			COMMENT_POST_CODE = #{postCode}
	</select>

	<update id="editComment">
		UPDATE POST_COMMENT
		SET COMMENT_DETAIL = #{commentDetail}
		WHERE COMMENT_CODE = #{commentCode};
	</update>

	<delete id="deleteComment">
		DELETE FROM POST_COMMENT
		WHERE
		COMMENT_CODE = #{commentCode}
	</delete>

</mapper>
