<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.khada.hund.main.model.dao.MainMapper">

    <resultMap id="mainMap" type="com.khada.hund.main.model.dto.UserDTO">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="email" column="email" />
        <result property="phone" column="phone" />
        <result property="pwd" column="pwd" />
    </resultMap>

    <select id="loginUser" resultMap="mainMap">
        SELECT
              *
        FROM
            USERS
        WHERE
            ID = #{id}
        AND PWD = #{pwd}
    </select>

    <insert id="insertUser" parameterType="com.khada.hund.main.model.dto.UserDTO">
        INSERT INTO USERS
            (
              ID
            , NAME
            , EMAIL
            , PHONE
            , PWD
            )
        VALUES
            (
              #{id}
            , #{name}
            , #{email}
            , #{phone}
            , #{pwd}
            )
    </insert>
</mapper>