<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{../css/boardList.css}">
<head>
  <meta charset="UTF-8">
  <title>게시판</title>
</head>
<body>
<div class="container">
  <h1>게시판</h1>
  <div>
    <form action="/logout" method="post">
      <button type="submit">로그아웃</button>
    </form>
  </div>
  <table>
    <thead>
    <tr>
      <th>선택</th>
      <th>제목</th>
      <th>작성자</th>
      <th>작성일</th>
      <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boardList}">
      <td><input type="checkbox" th:value="${board.getPostCode()}"></td>
      <td><a th:href="@{/board/{postCode}(postCode=${board.getPostCode()})}" th:text="${board.getTitle()}"></a></td>
      <td th:text="${board.getWriter()}"></td>
      <td th:text="${board.getWriteDateTime()}"></td>
      <td th:text="${board.getRecommend()}"></td>
    </tr>
    </tbody>
  </table>
  <div class="button-container">
    <button class="register-button" id="register_btn">등록</button>
  </div>
</div>
<script th:src="@{../js/event.js}"></script>
</body>
</html>