<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/edit.css}">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
</head>
<body>
<div class="container">
    <input id="writer" type="hidden" th:value="${board.writer}">
    <input id="postCode" type="hidden" th:value="${board.postCode}">
    <h1>게시글 수정</h1>
    <div class="form-group">
        <label for="title">제목:</label>
        <input type="text" id="title" name="title" required th:value="${board.title}">
    </div>
    <div class="form-group">
        <label for="detail">내용:</label>
        <textarea id="detail" name="detail" rows="10" required th:field="${board.detail}"></textarea>
    </div>
    <div class="button-group">
        <button type="submit" class="submit-button" onclick="writeComplete()">수정하기</button>
        <button type="button" class="cancel-button" onclick="location.href='/'">취소</button>
    </div>
</div>
<script>
    function writeComplete(){
        const titleValue = document.getElementById("title").value;
        const detailValue = document.getElementById("detail").value;
        const writerValue = document.getElementById("writer").value;
        const postCodeValue = document.getElementById("postCode").value;

        const formData = new FormData;

        formData.append("title", titleValue);
        formData.append("detail", detailValue);
        formData.append("writer", writerValue);
        formData.append("postCode", postCodeValue);


        fetch('/board/edit',{
            method: 'POST',
            body: formData
        }).then(response =>{
            console.log("response : " , response)
            if (response.ok){
                window.location.href = "/";
            }else{
                console.error('게시글 수정 실패')
            }
        }).catch(error => {
            console.error('오류가 발생하였습니다 : ' , error);
        })

    }
</script>
</body>
</html>